@model IEnumerable<RaysHotDogApp.WebService.Models.HotDog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LongDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avaliable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrepTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFavourite)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LongDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avaliable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrepTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFavourite)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HotDogId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HotDogId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HotDogId })
        </td>
    </tr>
}

</table>
